@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

@font-face {
	font-family: proximanova;
	src: url('fonts/ProximaNova-Regular.otf') format('opentype');
}

html, body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	zoom: 1.90;
	font-size: 8px;
	font-family: proximanova;
}
body {
	height: auto;
	overflow-y: hidden;
	overflow-x: hidden;
}

@media only screen and (max-width: 40em) {
	html, body {
		zoom: 1.50;
	}
}
@media only screen and (max-width: 20em) {
	html, body {
		zoom: 1.30;
	}
}


.text-center {
	text-align: center;
}
.center {
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}


div.game-container {
	background-color: #9CD5E3;
	background-repeat: repeat-x;
	width: 4770px;
	height: 800px;
	position: relative;
	left: -2px;

}
div .game-container {
	position: relative;
}
.bcg {
	height: 320px;
	position: relative;
	z-index: 10;
}
.female-runner {
	height: 30px;
	width: 30px;
	position: absolute;
	top: 107px;
	left: 80px;
	z-index: 100;
}
.female-runner#runner2 {
	display: none;
}



.info-container ul {
	position: absolute;
	top: -8px;
	z-index: 1000;
	width: 100%;
	background-color: rgba(0,0,0,1);
	left: 0;
	right: 0;
	padding: 0;
	min-width: 18em;
}
.info-container li {
	list-style-type: none;
	color: white;
	font-size: 5px;
	font-weight: bold;
	display: inline-block;
	line-height: 2em;
  vertical-align: bottom;
  padding-left: 1.2em;
  padding-right: 3em;
}
.info-container .pause {
	cursor: pointer;
	position: absolute;
  right: 2px;
  top: .5px;
  z-index: 10000;
  color: white;
  font-size: 5px;
  border: .5px solid #EE6C45;
  border-radius: 2px;
  padding: 1px;
  font-weight: bold;
  background-color: #EE6C45;
  width: 2.7em;
  text-align: center;
}
.info-container .home {
	position: absolute;
  right: 20px;
  top: .5px;
  z-index: 1000;
  font-size: 5px;
  border: .5px solid #EE6C45;
  border-radius: 2px;
	padding: 1px;
	font-weight: bold;
	background-color: #EE6C45;
	width: 2.7em;
	text-align: center;
}
.info-container .home a {
	color: white;
	text-decoration: none;
}




.game-info {
	position: absolute;
	z-index: 1000;
	top: 3.5em;
	left: .5em;
	width: 75px;
	font-size: .5em;
	background-color: black;
	padding-left: 1em;
	color: white;
	border-radius: 2px;
}
.game-instructions h5 {
	font-size: larger;
	margin-bottom: .5em;
	margin-top: .7em;
	cursor: pointer;
}
.game-instructions .game-instructions-info {
	display: none;
	padding-right: .8em;
}
p.game-instructions-info {
	font-size: 1.1em;
}
.game-instructions thead tr {
	border-bottom: 1px solid white;
}
.game-instructions tbody tr {
	line-height: .5em;
}




.clue-area p {
	background-color: white;
	color: black;
	border-radius: 12px;
	font-size: smaller;
}
.clue,
.deadclue {
	position: absolute;
	margin-right: auto;*/
	width: 50%;
	min-width: 80px;
	max-width: 140px;
	z-index: 1000;
	font-size: 8px;
	color: white;
	/*font-weight: bold;*/
	text-align: center;
}
.clue-area .tooltip {
	position: absolute;
	padding: 1em;
	border-radius: 8px;
	background: white;
}
.clue-area .tooltip:before {
	position: absolute;
	top: 100%;
	left: 27%;
	content: "";
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-top-color: white;
}




.prob-area {
	display: none;
	position: absolute;
  top: 20px;
  height: auto;
  width: 75%;
  min-width: 100px;
  max-width: 400px;
  z-index: 1000;
  font-weight: bold;
  color: black;
  margin-left: auto;
  margin-right: auto;
  padding: .5em;
  text-align: center;
  left: 0;
  right: 0;
  background-color: rgba(255,255,255,.8);
  border-radius: 6px;
}
.prob-area input {
	height: 10px;
	font-size: 7px;
	border-radius: 4px;
	border: 1px;
	width: 75%;
	text-align: center;
	color: #5D5D60;
}
.prob-area .wrong-answer {
	color: red;
	display: none;
}