@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	padding: 0;
	margin: 0;
}

html, body {
	max-width: 110em;
	min-width: 30em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font: 100%/1.5 Helvetica;
	font-weight: bold;
	color: #353030;
	font-size: 22px;
}
a {
	text-decoration: none;
	color: #353030;
}
a:hover {
	color: #888;
}
li {
	list-style-type: none;
}
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input {
	border-radius: 4px;
	height: 2em;
	font-size: inherit;
	color: inherit;
	font: inherit;
}
form {

}
textarea {
	border-radius: 4px;
	overflow: auto;
	border-style: inset;
}
select {
	height: 2.5em;
	line-height: 2.5em;
	border-radius: 4px;
	font: inherit;
	color: inherit;
	padding: .2em 1em;
	background: #fff;
}
.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	/*font-weight: normal;*/
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	    touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 5px;
	font: inherit;
	color: inherit;
}
button:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}
.btn-default {
  color: inherit;
  background-color: #fff;
  border-color: #ccc;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.font-blue {
	color: blue;
}
.font-white {
	color: white;
}
.margin-top-sm {
	margin-top: .5em;
}
.margin-bottom-sm {
	margin-bottom: .5em;
}
.margin-top-med {
	margin-top: 2em;
}
.margin-bottom-med {
	margin-bottom: 2em; 
}
.margin-top-lg {
	margin-top: 3em;
}
.margin-bottom-lg {
	margin-bottom: 3em;
}
.padding-top-med {
	padding-top: 2em;
}
.padding-bottom-med {
	padding-bottom: 2em;
}
.padding-top-sm {
	padding-top: .5em;
}
.padding-bottom-sm {
	padding-bottom: .5em;
}
.width-med {
	width: 50%;
	min-width: 20em;
}
.width-lg {
	width: 75%;
}
.center {
	margin-right: auto;
	margin-left: auto;
}
.lead {
	font-size: 150%;
}
.heading {
	color: #212121;
	font-size: 3em;
}





/* nav */
nav {
	height: 2em;
	line-height: 2em;
	position: absolute;
	width: 100%;
	min-width: 30em;
	max-width: 100em;
	z-index: 1;
	background-color: rgba(6,6,6,.55);
	top: 0;
}
nav a {
	color: white;
	font-size: 18px;
}
nav ul > li {
	padding-left: 1.5em;
	padding-right: 1.5em;
	display: inline-block;
}

/* end nav */



/* parallax effects */
#slide1 {
	/*background-image: url(../../images/fantasy6_road.jpg);*/
	width: 100%;
}
#slide2 {
	background-image: white;
	margin-top: 5em;
}
.homeSlide {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
}
/* end parallax effects */




button {
	background-image: linear-gradient(#ff1, #fd3);
	width: 10em;
	height: 3em;
	border-radius: 8px;
	font-size: 24px;
	font-weight: bold;
	cursor: pointer;
}









