@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

@font-face {
	font-family: montserrat;
	src: url('fonts/Montserrat-Bold.ttf') format('opentype');
}
@font-face {
	font-family: proximanova;
	src: url('fonts/ProximaNova-Regular.otf') format('opentype');
}

* {
	padding: 0;
	margin: 0;
}

html, body {
	max-width: 110em;
	min-width: 30em;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font: 20px/1.5 proximanova helvetica;
	font-weight: bold;
	color: #565151;
}
a {
	text-decoration: none;
	color: #353030;
}
a:hover {
	color: #888;
}
li {
	list-style-type: none;
}
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input {
	border-radius: 4px;
	height: 2em;
	font-size: inherit;
	color: inherit;
	font: inherit;
}
form {

}
textarea {
	border-radius: 4px;
	overflow: auto;
	border-style: inset;
}
select {
	height: 2.5em;
	line-height: 2.5em;
	border-radius: 4px;
	font: inherit;
	color: inherit;
	padding: .2em 1em;
	background: #fff;
}
section {
	margin-top: 3em; 
}
.font-blue {
	color: blue;
}
.font-white {
	color: white !important;
}
.font-aqua {
	color: #158DA8;
}
.font-med {
	font-size: 150%;
}
.font-lg {
	font-size: 200%;
}
.margin-top-sm {
	margin-top: .5em;
}
.margin-bottom-sm {
	margin-bottom: .5em;
}
.margin-top-med {
	margin-top: 2em;
}
.margin-bottom-med {
	margin-bottom: 2em; 
}
.margin-top-lg {
	margin-top: 4em;
}
.margin-bottom-lg {
	margin-bottom: 4em;
}
.margin-top-xl {
	margin-top: 7em;
}
.padding-top-med {
	padding-top: 2em;
}
.padding-bottom-med {
	padding-bottom: 2em;
}
.padding-top-sm {
	padding-top: .5em;
}
.padding-bottom-sm {
	padding-bottom: .5em;
}
.padding-top-lg {
	padding-top: 3em;
}
.padding-left-sm {
	padding-left: .5em;
}
.padding-left-med {
	padding-left: 2em;
}
.padding-left-lg {
	padding-left: 3em;
}
.padding-right-sm {
	padding-right: .5em;
}
.width-sm {
	width: 35%;
}
.width-med {
	width: 50%;
}
.width-lg {
	width: 75%;
}
.center {
	margin-right: auto;
	margin-left: auto;
}
.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
.text-right {
	text-align: right;
}
.text-justify {
	text-align: justify;
}
.text-indent-sm {
	text-indent: 1em;
}
.lead {
	font-size: 150%;
}
.heading {
	font-family: montserrat;
	color: #353030;
}
.active {
	background-color: rgba(18,143,170,.5);
}
.clear-fix {
	clear: both;
}
.uppercase {
	text-transform: uppercase;
}
.underline {
	text-decoration: underline;
}
.hidden {
	display: none;
}
.show {
	display: block;
}
.cursor-pointer {
	cursor: pointer;
}



.container {
	position: relative;
}





/* nav */
nav {
	height: 2.9em;
	line-height: 3em;
	background-color: white;
	width: 100%;
	z-index: 1;
	top: 0;
	color: black;
	font-size: 80%;
	letter-spacing: .5px;
}
nav ul > li {
	padding-left: 1.5em;
	padding-right: 1.5em;
	display: inline-block;
}


/* end nav */




/* header */
/* parallax effects */
#slide1 {
	background: url(../images/banner_diff_kids.jpg) no-repeat fixed center / cover;
	height: 22em;
}
#slide2 {
	background: url(../images/banner_kid_learning_in_class.jpg) no-repeat fixed top / cover;
	height: 22em;
}
/* end parallax effects */
header {
	padding-top: 4em;
	padding-bottom: 4em;
	height: auto;
	position: relative;
}
header img {
	width: 20em;
	position: relative;
	top: 1em;
}
header .overlay {
	width: 65%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 0;
	position: absolute;
	background-color: rgba(0,0,0,.7);
	height: 30em;
}
.header-h1 {
	min-width: 10em;
	position: absolute;
	bottom: 2em;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}


/* end header */



/* teen-stats section */
#teen-stats p {
	width: 75%;
	min-width: 25em;
}
/* rotate the words for teen stats */
.rw-words-1 div{
	position: absolute;
	opacity: 0;
	margin-right: auto;
	margin-left: auto; 
	width: 100%;
	overflow: hidden;
	-webkit-animation: rotateWord 18s linear infinite 0s;
	-ms-animation: rotateWord 18s linear infinite 0s;
	animation: rotateWord 18s linear infinite 0s;
}
/*.rw-words-1 div::before {
	content: url(../images/bullet.gif);
	position: relative;
	bottom: 3px;
	padding-right: .5em;
}*/

.rw-words-1 div:nth-child(1) { 
  -webkit-animation-delay: 0s; 
	-ms-animation-delay: 0s; 
	animation-delay: 0s; 
}
.rw-words-1 div:nth-child(2) { 
  -webkit-animation-delay: 3s; 
	-ms-animation-delay: 3s; 
	animation-delay: 3s; 
}
.rw-words-1 div:nth-child(3) { 
  -webkit-animation-delay: 6s; 
	-ms-animation-delay: 6s; 
	animation-delay: 6s; 
}
.rw-words-1 div:nth-child(4) { 
  -webkit-animation-delay: 9s; 
	-ms-animation-delay: 9s; 
	animation-delay: 9s; 
}
.rw-words-1 div:nth-child(5) { 
  -webkit-animation-delay: 12s; 
	-ms-animation-delay: 12s; 
	animation-delay: 12s; 
}
.rw-words-1 div:nth-child(6) { 
  -webkit-animation-delay: 15s; 
	-ms-animation-delay: 15s; 
	animation-delay: 15s; 
}

@-webkit-keyframes rotateWord {
  0% { opacity: 0; }
  2% { opacity: 0; -webkit-transform: translateY(0px); }
	5% { opacity: 1; -webkit-transform: translateY(0px);}
  17% { opacity: 1; -webkit-transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(0px); }
	80% { opacity: 0; }
  100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
  0% { opacity: 0; }
  2% { opacity: 0; -ms-transform: translateY(0px); }
	5% { opacity: 1; -ms-transform: translateY(0px);}
  17% { opacity: 1; -ms-transform: translateY(0px); }
	20% { opacity: 0; -ms-transform: translateY(0px); }
	80% { opacity: 0; }
  100% { opacity: 0; }
}
@keyframes rotateWord {
  0% { opacity: 0; }
  2% { opacity: 0; -webkit-transform: translateY(0px); transform: translateY(0px); }
	5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
  17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(0px); transform: translateY(0px); }
	80% { opacity: 0; }
  100% { opacity: 0; }
}
/* end rotate words for teen stats */
/* end teen-stats section*/
/* end header */




/* affiliations section */
#affiliations img {
	height: 3em;
}

/* end affiliations section */




/* courses section */
#courses {
	background-color: rgba(21, 141, 168, 0.05);
}
#courses img {
	max-width: 10em;
	width: 90%;
}
#courses > div {
	display: inline-block;
	width: 25%;
	vertical-align: top;
	margin-right: 1em;
	margin-left: 1em;
	margin-bottom: 5em;
}
#courses .courses-heading {
	min-width: 20em;
}
#courses .courses-heading p:first-child {
	line-height: 3em;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
#courses .bg-blue {
	background-color: #158DA8;
}
#courses .bg-green {
	background-color: #6FBC43;
}
#courses .bg-yellow {
	background-color: #DDCE1F;
}

/* end courses section */



/* courses-info section */
#courses-info .courses-container {
	width: 90%;
}
#courses-info p {
	display: inline-block;
	width: 30%;
	vertical-align: top;
	padding: 1em .9em;
	text-align: justify;
	min-width: 15em;
}
/* end courses-info section*/



/* youth-programs section */
#youth-programs {
	background-color: rgba(21, 141, 168, 0.05);
}
.program-nav hr {
	width: 75%;
	border-color: rgba(208, 208, 208, 0.25);
}
.program-nav ul {
	margin-top: -.1em;
}
.program-nav li {
	display: inline-block;
	padding-left: 1em;
	padding-right: 1em;
	font-size: 80%;
	line-height: 3em;
	color: #353030;
}
.programs-container {
	width: 80%;
	height: 30em;
}
.prog-image {
	width: 40%;
	display: block;
	vertical-align: top;
}
.prog-image img {
	width: 20em;
	height: 12em;
	border-radius: 6px;
}
.prog-info {
	width: 100%;
	display: inline-block;
	vertical-align: top;
}
.programs-container div > ul {
	padding-left: 2em;
	vertical-align: top;
}
.programs-container li:nth-child(n+2) {
	line-height: 2em;
}
.prog-bootcamp .prog-info table td, 
.prog-seminar .prog-info table td,
.prog-hack .prog-info table td,
.prog-mentor .prog-info table td {
	height: 2.5em;
	padding-left: 2em;
	padding-right: 2em;
}
.prog-bootcamp table,
.prog-seminar table,
.prog-hack table, 
.prog-mentor table {
	border-collapse: collapse;
}
.prog-seminar .prog-info table td {
	height: 1.8em;
}
.prog-seminar > .prog-info thead td {
	border-bottom: 2px solid rgba(208, 208, 208, 0.25);
}
.prog-seminar > .prog-info table td:first-child {
	text-align: left;
	width: 6em;
}
.prog-career .prog-info li,
.prog-hire .prog-info li {
	display: inline-block;
	width: 45%;
	vertical-align: top;
}
.prog-career li p,
.prog-hire .prog-info p {
	line-height: 2em;
}

/* end youth-programs section */





/* contact-us section */
#contact-us {
	margin-top: 3em;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
#contact-us .contactus-form {
	margin-right: auto;
	margin-left: auto;
	max-width: 50em;
	min-width: 20em;
	border-style: outset;
	border-radius: 1em;
	background-color: #B9D3EA;
}
#contact-us input {
	width: 50%;
	min-width: 15em;
}
#contact-us .contactus-form label {
	display: block;
	padding-bottom: .3em;
}
#contact-us .contactus-form .form-group {
	margin-bottom: 1em;
}
#contact-us textarea {
	width: 75%;
	min-width: 15em;
	font: inherit;
	color: inherit;
}
#contact-us address a {
	color: blue;
}
/* end contact-us section */
/* end main */



.game-container {
	background-color: #9CD6E4;
}
#game {
	margin-top: 0;
}
#slide3 {
	background: url(../images/game3.jpg) no-repeat fixed top / cover;
	height: 30em;
}
#game header .overlay {
	width: 65%;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 0;
	position: absolute;
	background-color: rgba(0,0,0,.7);
}
#game .game-instructions tr {
	height: 2em;
}
#game .game-instructions td {
	padding-left: 2em;
	padding-right: 2em;
}
#game .btn-game {
	height: 2em;
	width: 8em;
	border-radius: 10px;
	border: 0;
	background-image: linear-gradient(#ff1, #fd3);
}
#game .btn-game:active {
	transform: translateY(3px);
}





















/* footer */

/* end footer */









