@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html, body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	zoom: 1.75;
	font-size: 8px;
}
body {
	height: auto;
	overflow-y: hidden;
	overflow-x: hidden;
}




div.game-container {
	background-color: #9CD5E3;
	background-repeat: repeat-x;
	width: 4770px;
	height: 800px;
}
div .game-container {
	position: relative;
}
.bcg {
	height: 320px;
	position: relative;
	z-index: 10;
}
.female-runner {
	height: 30px;
	width: 30px;
	position: absolute;
	top: 107px;
	left: 80px;
	z-index: 100;
}


.info-container ul {
	position: absolute;
	top: 0;
	z-index: 1000;
}
.info-container li {
	list-style-type: none;
	color: white;
	font-size: 6px;
	font-weight: bold;
}



.clue {
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	min-width: 350px;
	max-width: 800px;
	height: 50px;
	z-index: 1000;
	font-size: 8px;
	color: white;
	font-weight: bold;
	text-align: center;
}



.prob-area {
	display: none;
	position: absolute;
  top: 150px;
  height: 25px;
  width: 50%;
  min-width: 350px;
  max-width: 800px;
  z-index: 1000;
  font-weight: bold;
  color: white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  left: 0;
  right: 0;
}
input {
	height: 10px;
	font-size: 10px;
	border-radius: 6px;
	width: 75%;
	text-align: center;
}