@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html, body {
	max-width: 110em;
	min-width: 30em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font: 120%/1.5 Helvetica;
	font-weight: bold;
	color: #666;
	margin: 0;
}
p {
	margin-top: .3em;
	margin-bottom: .3em;
}
button:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}
input {
	font-size: large;
}
.font-bold {
	font-weight: bold;
}
.font-color-gray {
	color: #666;
}
.font-blue {
	color: blue;
}
.font-white {
	color: white;
}



/* main */
.solve-code {
	margin-bottom: 1em;
	display: none;
}
.solve-code input {
	margin-top: .5em;
	width: 50%;
	height: 2em;
	text-align: center;
}




#image-here {
	position: relative;
}
#image-here #first-clue {
  position: absolute;
  z-index: 1000;
  margin-left: auto;
  margin-right: auto;
  padding-top: .3em;
  padding-bottom: .3em;
  width: 100%;
  left: 0;
  right: 0;
  font-size: x-large;
  color: white;
  background-color: rgba(0,0,0,.45);
}
#image-here img {
	width: 100%;
	min-width: 25em;
	position: relative;
}
div.clues > div {
	position: absolute;
	width: 1em;
	height: 1em;
}
div.clues > div > label {
	display: none;
	font-size: medium;
	font-weight: normal;
}
div.clues > div:hover {
	border-radius: 50%;
}
div.clues > div:hover > label {
	display: block;
	max-width: 30em;
	min-width: 25em;
	background-color: rgba(255,255,255,.9);
	margin-left: 1em;
	margin-top: 1em;
	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
	border-bottom-left-radius: 1em;
	padding: .2em;
	letter-spacing: 0;
	line-height: 1.2em;
	color: black;
}


.error-text {
	display: none;
}






/* end main */


/* footer */
/* end footer */