@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html, body {
	max-width: 100em;
	min-width: 30em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font: 100%/1.5 Purisa;
	font-weight: bold;
	color: #666;
}
.font-blue {
	color: blue;
}
.font-white {
	color: white;
}
/* nav */
/* end nav */


/* header */
/* end header */
body, html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	max-width: 100em;
	min-width: 30em;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	font: 100%/1.5 Helvetica;
	letter-spacing: .05em;
}
p {
	margin-top: .3em;
	margin-bottom: .3em;
}
.font-bold {
	font-weight: bold;
}
.font-color-gray {
	color: #666;
}


/* main */
.solve-code {
	margin-bottom: 1em;
}
.solve-code input {
	margin-top: .5em;
	width: 35%;
	height: 1.5em;
	text-align: center;
}




#image-here {
	position: relative;
}
#image-here img {
	width: 80%;
	min-width: 25em;
	max-width: 100em;
	position: relative;
}
div.clues > div {
	position: absolute;
	width: 1%;
	height: 3%;
}
div.clues > div > label {
	display: none;
	font-size: smaller;
}
div.clues > div:hover {
	/*background-color: white; set this transparent in production*/
	border-radius: 50%;
}
div.clues > div:hover > label {
	display: block;
	max-width: 30em;
	min-width: 25em;
	/*width: 20em;*/
	background-color: rgba(255,255,255,.8);
	margin-left: 1em;
	margin-top: 1em;
	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
	border-bottom-left-radius: 1em;
	padding: .2em;
	letter-spacing: 0;
	line-height: 1.2em;
	color: black;
}


.error-text {
	display: none;
}






/* end main */


/* footer */
/* end footer */